<!--<ul id="app">-->
<!--<li v-for="item in items">-->
<!--{{ item.message}}-->
<!--</li>-->
<!--</ul>-->
<table id="role" class="table">
  <tr>
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Rola</th>
    <th></th>
  </tr>
  <tr v-for="user in users">
    <td>
      {{user.first_name}}
    </td>
    <td>
      {{user.last_name}}
    </td>
    <td>
      {{get_user_role(user.role_id)}}
      <ul class="list-group" v-bind:class="{ active: !row_is_active(user) }">
        <li class="list-group-item" v-for="role in roles" v-bind:class="{ select: selected_role[role.id-1].isSelected }" v-on:click="select_role(role.id)">{{role.name}}</li>
      </ul>
    </td>
    <td>
      <button type="button" class="btn-danger btn" v-on:click="show_list(user)" v-bind:class="{ active: row_is_active(user) }">Zmień</button>
      <button type="button" class="btn-success btn" v-on:click="save_change(user)" v-bind:class="{ active: !row_is_active(user) }">Zapisz</button>
    </td>
  </tr>
</table>